body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {  
    font-family: 'Montserrat-Bold',;
    }

h2{
   
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5;
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading{
    font-family: 'Montserrat', sans-serif; 
       font-size: 3.5rem;  
       line-height: 1.5;

}

#title {
    background-color: #ff4c68;
    color: #fff;
    
}


.container-fluid{
    padding: 3% 15% 7%;
}

/* Navbar */

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight:bold ;

}

.navbar{
    padding:0 0 4.5rem;
}

.nav-item{
    padding: 0 18px ;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}

/* dwld buttons */

.download-btn{
    margin:5% 3% 5% 0;
}

/* title-img */
.title-img{
    width: 23%;
    transform: rotate(25deg);
    position: absolute;
   

}

#features{
    padding: 7% 15%;
    background-color: #fff;
    z-index: 1;
    position: relative;
    
   
   
}

.feature-box{
    text-align: center;
    padding: 4.5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* Testimonial */

#testimonials{
   
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
width: 10%;
border-radius: 100%;
margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.testimonial-text{
    margin-bottom: 3.5rem;
    font-family: 'montserret-Bold';
    font-size: 3rem;
    line-height: 1.5
}

.carousel-item{
    padding: 7% 15%;

}

/* pricing */

#pricing{
    padding: 100px;
    text-align: center;

}

.pricing-colum {
    padding: 3% 2%;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
    padding: 7% 5% 7%;
    font-size: 5rem;
    
}

.cta-head{
    font-family: 'montserret-black';
    font-size: 3.5rem;
    line-height: 1.5%;
}

#footer{
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.footer-icons{
    margin: 5% 1.5% 5% 0;
}

.copyright-text{
    margin-top: 0%;
}

.footer-icons:hover{
    color: #ef8172;
}







@media (max-width:1028px){
    #title{
        text-align: center;
    }

    .title-img{
        position: static;
        transform: rotate(0);
    }
}